In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
type(spark)

pyspark.sql.session.SparkSession

In [15]:
 orders_df = (spark
          .read
          .format("json")
           .option("header","true")
          .load("OneDrive\\Documents\\DATA\\retail_db_json\\orders"))

In [16]:
orders_df.show()

+-----------------+--------------------+--------+---------------+
|order_customer_id|          order_date|order_id|   order_status|
+-----------------+--------------------+--------+---------------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|            12111|2013-07-25 00:00:...|       3|       COMPLETE|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|
|             7130|2013-07-25 00:00:...|       6|       COMPLETE|
|             4530|2013-07-25 00:00:...|       7|       COMPLETE|
|             2911|2013-07-25 00:00:...|       8|     PROCESSING|
|             5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|
|             5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|
|              918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|
|             1837|2013-07-25 00:00:...|      12|         CLOSED|
|             9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|
|             9842|2013-07-25 00:00:...|      14|     PROCESSING|
|             2568|2013-07-25 00:00:...|      15|       COMPLETE|
|             7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|
|             2667|2013-07-25 00:00:...|      17|       COMPLETE|
|             1205|2013-07-25 00:00:...|      18|         CLOSED|
|             9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|
|             9198|2013-07-25 00:00:...|      20|     PROCESSING|
+-----------------+--------------------+--------+---------------+
only showing top 20 rows

In [17]:
orders_df.columns

['order_customer_id', 'order_date', 'order_id', 'order_status']

In [18]:
orders_df.printSchema()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [19]:
customers_df = (spark
          .read
          .format("json")
           .option("header","true")
          .load("OneDrive\\Documents\\DATA\\retail_db_json\\customers"))

In [20]:
customers_df.columns

['customer_city',
 'customer_email',
 'customer_fname',
 'customer_id',
 'customer_lname',
 'customer_password',
 'customer_state',
 'customer_street',
 'customer_zipcode']

In [21]:
customers_df.printSchema()

root
 |-- customer_city: string (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_fname: string (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- customer_password: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_street: string (nullable = true)
 |-- customer_zipcode: string (nullable = true)

In [22]:
customers_df.show()

+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|customer_city|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_state|     customer_street|customer_zipcode|
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|  Brownsville|     XXXXXXXXX|       Richard|          1|     Hernandez|        XXXXXXXXX|            TX|  6303 Heather Plaza|           78521|
|    Littleton|     XXXXXXXXX|          Mary|          2|       Barrett|        XXXXXXXXX|            CO|9526 Noble Embers...|           80126|
|       Caguas|     XXXXXXXXX|           Ann|          3|         Smith|        XXXXXXXXX|            PR|3422 Blue Pioneer...|           00725|
|   San Marcos|     XXXXXXXXX|          Mary|          4|         Jones|        XXXXXXXXX|            CA|  8324 Little Common|           92069|
|       Caguas|     XXXXXXXXX|        Robert|          5|        Hudson|        XXXXXXXXX|            PR|"10 Crystal River...|           00725|
|      Passaic|     XXXXXXXXX|          Mary|          6|         Smith|        XXXXXXXXX|            NJ|3151 Sleepy Quail...|           07055|
|       Caguas|     XXXXXXXXX|       Melissa|          7|        Wilcox|        XXXXXXXXX|            PR|9453 High Concession|           00725|
|     Lawrence|     XXXXXXXXX|         Megan|          8|         Smith|        XXXXXXXXX|            MA|3047 Foggy Forest...|           01841|
|       Caguas|     XXXXXXXXX|          Mary|          9|         Perez|        XXXXXXXXX|            PR| 3616 Quaking Street|           00725|
|     Stafford|     XXXXXXXXX|       Melissa|         10|         Smith|        XXXXXXXXX|            VA|8598 Harvest Beac...|           22554|
|       Caguas|     XXXXXXXXX|          Mary|         11|       Huffman|        XXXXXXXXX|            PR|    3169 Stony Woods|           00725|
|  San Antonio|     XXXXXXXXX|   Christopher|         12|         Smith|        XXXXXXXXX|            TX|5594 Jagged Ember...|           78227|
|       Caguas|     XXXXXXXXX|          Mary|         13|       Baldwin|        XXXXXXXXX|            PR|7922 Iron Oak Gar...|           00725|
|  Pico Rivera|     XXXXXXXXX|     Katherine|         14|         Smith|        XXXXXXXXX|            CA|5666 Hazy Pony Sq...|           90660|
|      Fontana|     XXXXXXXXX|          Jane|         15|          Luna|        XXXXXXXXX|            CA|    673 Burning Glen|           92336|
|       Caguas|     XXXXXXXXX|       Tiffany|         16|         Smith|        XXXXXXXXX|            PR|      6651 Iron Port|           00725|
|       Taylor|     XXXXXXXXX|          Mary|         17|      Robinson|        XXXXXXXXX|            MI|     1325 Noble Pike|           48180|
|     Martinez|     XXXXXXXXX|        Robert|         18|         Smith|        XXXXXXXXX|            CA|2734 Hazy Butterf...|           94553|
|       Caguas|     XXXXXXXXX|     Stephanie|         19|      Mitchell|        XXXXXXXXX|            PR|3543 Red Treasure...|           00725|
|West New York|     XXXXXXXXX|          Mary|         20|         Ellis|        XXXXXXXXX|            NJ|      4703 Old Route|           07093|
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
only showing top 20 rows

In [23]:
def createDF(file_format, path, header_bool):
    return (spark
    .read
    .format("file_format")
    .option("header","header_bool")
    .load("path"))

# DF Registration

In [26]:
orders_df.createOrReplaceTempView("orders")

In [28]:
customers_df.createOrReplaceTempView("customers")

# Projecting the data in Spark SQL

In [29]:
type(spark.sql("SELECT * FROM orders"))

pyspark.sql.dataframe.DataFrame

In [32]:
spark.sql("SELECT * FROM orders").show()

+-----------------+--------------------+--------+---------------+
|order_customer_id|          order_date|order_id|   order_status|
+-----------------+--------------------+--------+---------------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|            12111|2013-07-25 00:00:...|       3|       COMPLETE|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|
|             7130|2013-07-25 00:00:...|       6|       COMPLETE|
|             4530|2013-07-25 00:00:...|       7|       COMPLETE|
|             2911|2013-07-25 00:00:...|       8|     PROCESSING|
|             5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|
|             5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|
|              918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|
|             1837|2013-07-25 00:00:...|      12|         CLOSED|
|             9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|
|             9842|2013-07-25 00:00:...|      14|     PROCESSING|
|             2568|2013-07-25 00:00:...|      15|       COMPLETE|
|             7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|
|             2667|2013-07-25 00:00:...|      17|       COMPLETE|
|             1205|2013-07-25 00:00:...|      18|         CLOSED|
|             9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|
|             9198|2013-07-25 00:00:...|      20|     PROCESSING|
+-----------------+--------------------+--------+---------------+
only showing top 20 rows

In [34]:
spark.sql("SELECT customer_id, customer_lname from customers").show()

+-----------+--------------+
|customer_id|customer_lname|
+-----------+--------------+
|          1|     Hernandez|
|          2|       Barrett|
|          3|         Smith|
|          4|         Jones|
|          5|        Hudson|
|          6|         Smith|
|          7|        Wilcox|
|          8|         Smith|
|          9|         Perez|
|         10|         Smith|
|         11|       Huffman|
|         12|         Smith|
|         13|       Baldwin|
|         14|         Smith|
|         15|          Luna|
|         16|         Smith|
|         17|      Robinson|
|         18|         Smith|
|         19|      Mitchell|
|         20|         Ellis|
+-----------+--------------+
only showing top 20 rows

In [35]:
spark.sql("SELECT * FROM orders WHERE order_status = 'CLOSED' OR order_status = 'COMPLETE'").show()

+-----------------+--------------------+--------+------------+
|order_customer_id|          order_date|order_id|order_status|
+-----------------+--------------------+--------+------------+
|            11599|2013-07-25 00:00:...|       1|      CLOSED|
|            12111|2013-07-25 00:00:...|       3|    COMPLETE|
|             8827|2013-07-25 00:00:...|       4|      CLOSED|
|            11318|2013-07-25 00:00:...|       5|    COMPLETE|
|             7130|2013-07-25 00:00:...|       6|    COMPLETE|
|             4530|2013-07-25 00:00:...|       7|    COMPLETE|
|             1837|2013-07-25 00:00:...|      12|      CLOSED|
|             2568|2013-07-25 00:00:...|      15|    COMPLETE|
|             2667|2013-07-25 00:00:...|      17|    COMPLETE|
|             1205|2013-07-25 00:00:...|      18|      CLOSED|
|              333|2013-07-25 00:00:...|      22|    COMPLETE|
|            11441|2013-07-25 00:00:...|      24|      CLOSED|
|             9503|2013-07-25 00:00:...|      25|      CLOSED|
|             7562|2013-07-25 00:00:...|      26|    COMPLETE|
|              656|2013-07-25 00:00:...|      28|    COMPLETE|
|             3960|2013-07-25 00:00:...|      32|    COMPLETE|
|             4840|2013-07-25 00:00:...|      35|    COMPLETE|
|             5863|2013-07-25 00:00:...|      37|      CLOSED|
|             2636|2013-07-25 00:00:...|      45|    COMPLETE|
|            12271|2013-07-25 00:00:...|      51|      CLOSED|
+-----------------+--------------------+--------+------------+
only showing top 20 rows

In [36]:
spark.sql("SELECT * FROM orders where order_status IN ('CLOSED', 'COMPLETE')").show()

+-----------------+--------------------+--------+------------+
|order_customer_id|          order_date|order_id|order_status|
+-----------------+--------------------+--------+------------+
|            11599|2013-07-25 00:00:...|       1|      CLOSED|
|            12111|2013-07-25 00:00:...|       3|    COMPLETE|
|             8827|2013-07-25 00:00:...|       4|      CLOSED|
|            11318|2013-07-25 00:00:...|       5|    COMPLETE|
|             7130|2013-07-25 00:00:...|       6|    COMPLETE|
|             4530|2013-07-25 00:00:...|       7|    COMPLETE|
|             1837|2013-07-25 00:00:...|      12|      CLOSED|
|             2568|2013-07-25 00:00:...|      15|    COMPLETE|
|             2667|2013-07-25 00:00:...|      17|    COMPLETE|
|             1205|2013-07-25 00:00:...|      18|      CLOSED|
|              333|2013-07-25 00:00:...|      22|    COMPLETE|
|            11441|2013-07-25 00:00:...|      24|      CLOSED|
|             9503|2013-07-25 00:00:...|      25|      CLOSED|
|             7562|2013-07-25 00:00:...|      26|    COMPLETE|
|              656|2013-07-25 00:00:...|      28|    COMPLETE|
|             3960|2013-07-25 00:00:...|      32|    COMPLETE|
|             4840|2013-07-25 00:00:...|      35|    COMPLETE|
|             5863|2013-07-25 00:00:...|      37|      CLOSED|
|             2636|2013-07-25 00:00:...|      45|    COMPLETE|
|            12271|2013-07-25 00:00:...|      51|      CLOSED|
+-----------------+--------------------+--------+------------+
only showing top 20 rows

In [39]:
spark.sql("SELECT * FROM orders where order_date LIKE '________01%' ").show()

+-----------------+--------------------+--------+---------------+
|order_customer_id|          order_date|order_id|   order_status|
+-----------------+--------------------+--------+---------------+
|            11607|2013-08-01 00:00:...|    1297|       COMPLETE|
|             5105|2013-08-01 00:00:...|    1298|         CLOSED|
|             7802|2013-08-01 00:00:...|    1299|       COMPLETE|
|              553|2013-08-01 00:00:...|    1300|PENDING_PAYMENT|
|             1604|2013-08-01 00:00:...|    1301|PENDING_PAYMENT|
|             1695|2013-08-01 00:00:...|    1302|       COMPLETE|
|             7018|2013-08-01 00:00:...|    1303|     PROCESSING|
|             2059|2013-08-01 00:00:...|    1304|       COMPLETE|
|             3844|2013-08-01 00:00:...|    1305|       COMPLETE|
|            11672|2013-08-01 00:00:...|    1306|PENDING_PAYMENT|
|             4474|2013-08-01 00:00:...|    1307|       COMPLETE|
|            11645|2013-08-01 00:00:...|    1308|        PENDING|
|             2367|2013-08-01 00:00:...|    1309|         CLOSED|
|             5602|2013-08-01 00:00:...|    1310|        PENDING|
|             5396|2013-08-01 00:00:...|    1311|PENDING_PAYMENT|
|            12291|2013-08-01 00:00:...|    1312|       COMPLETE|
|             3471|2013-08-01 00:00:...|    1313|       CANCELED|
|            10993|2013-08-01 00:00:...|    1314|       COMPLETE|
|             5660|2013-08-01 00:00:...|    1315|       COMPLETE|
|             6376|2013-08-01 00:00:...|    1316|PENDING_PAYMENT|
+-----------------+--------------------+--------+---------------+
only showing top 20 rows

# JOIN Operation in Spark SQL

In [41]:
spark.sql(""" SELECT * FROM orders o
JOIN customers c
ON o.order_customer_id = c.customer_id""").show()

+-----------------+--------------------+--------+---------------+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|order_customer_id|          order_date|order_id|   order_status|customer_city|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_state|     customer_street|customer_zipcode|
+-----------------+--------------------+--------+---------------+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|      Hickory|     XXXXXXXXX|          Mary|      11599|        Malone|        XXXXXXXXX|            NC|8708 Indian Horse...|           28601|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|      Chicago|     XXXXXXXXX|         David|        256|     Rodriguez|        XXXXXXXXX|            IL|7605 Tawny Horse ...|           60625|
|            12111|2013-07-25 00:00:...|       3|       COMPLETE|   Santa Cruz|     XXXXXXXXX|         Amber|      12111|        Franco|        XXXXXXXXX|            CA|8766 Clear Prairi...|           95060|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|  San Antonio|     XXXXXXXXX|         Brian|       8827|        Wilson|        XXXXXXXXX|            TX|   8396 High Corners|           78240|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|       Caguas|     XXXXXXXXX|          Mary|      11318|         Henry|        XXXXXXXXX|            PR|3047 Silent Ember...|           00725|
|             7130|2013-07-25 00:00:...|       6|       COMPLETE|     Brooklyn|     XXXXXXXXX|         Alice|       7130|         Smith|        XXXXXXXXX|            NY|      8852 Iron Port|           11237|
|             4530|2013-07-25 00:00:...|       7|       COMPLETE|        Miami|     XXXXXXXXX|          Mary|       4530|         Smith|        XXXXXXXXX|            FL|1073 Green Leaf G...|           33161|
|             2911|2013-07-25 00:00:...|       8|     PROCESSING|       Caguas|     XXXXXXXXX|          Mary|       2911|         Smith|        XXXXXXXXX|            PR|9166 Golden Necta...|           00725|
|             5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|     Lakewood|     XXXXXXXXX|          Mary|       5657|         James|        XXXXXXXXX|            OH|  1389 Dusty Circuit|           44107|
|             5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|      Memphis|     XXXXXXXXX|        Joshua|       5648|         Smith|        XXXXXXXXX|            TN|864 Iron Spring S...|           38111|
|              918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|       Caguas|     XXXXXXXXX|        Nathan|        918|         Smith|        XXXXXXXXX|            PR|    9627 Honey Trail|           00725|
|             1837|2013-07-25 00:00:...|      12|         CLOSED|       Caguas|     XXXXXXXXX|          Mary|       1837|          Vega|        XXXXXXXXX|            PR|  4312 Bright Corner|           00725|
|             9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|    Santa Ana|     XXXXXXXXX|        Ronald|       9149|     Whitehead|        XXXXXXXXX|            CA|6789 Round Robin ...|           92705|
|             9842|2013-07-25 00:00:...|      14|     PROCESSING|       Caguas|     XXXXXXXXX|          Mary|       9842|         Smith|        XXXXXXXXX|            PR|454 Lazy Branch F...|           00725|
|             2568|2013-07-25 00:00:...|      15|       COMPLETE|      Memphis|     XXXXXXXXX|         Maria|       2568|         Smith|        XXXXXXXXX|            TN|   3544 Fallen Mount|           38127|
|             7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|       Caguas|     XXXXXXXXX|        Pamela|       7276|         Smith|        XXXXXXXXX|            PR|    9243 Old Gardens|           00725|
|             2667|2013-07-25 00:00:...|      17|       COMPLETE|   Sun Valley|     XXXXXXXXX|         Tammy|       2667|         Smith|        XXXXXXXXX|            CA| "8906 Rustic Mall "|           91352|
|             1205|2013-07-25 00:00:...|      18|         CLOSED|        Miami|     XXXXXXXXX|          Mary|       1205|        Powell|        XXXXXXXXX|            FL|9299 Quiet Pionee...|           33126|
|             9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|      Hialeah|     XXXXXXXXX|          Mary|       9488|         Smith|        XXXXXXXXX|            FL|    9758 Foggy Range|           33012|
|             9198|2013-07-25 00:00:...|      20|     PROCESSING|Bowling Green|     XXXXXXXXX|         David|       9198|          Kerr|        XXXXXXXXX|            KY|7312 Crystal Will...|           42101|
+-----------------+--------------------+--------+---------------+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
only showing top 20 rows

In [42]:
order_item_df = (spark
          .read
          .format("json")
           .option("header","true")
          .load("OneDrive\\Documents\\DATA\\retail_db_json\\order_items"))
order_item_df.show()

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|            1|                  1|                  957|                  299.98|                  1|             299.98|
|            2|                  2|                 1073|                  199.99|                  1|             199.99|
|            3|                  2|                  502|                    50.0|                  5|              250.0|
|            4|                  2|                  403|                  129.99|                  1|             129.99|
|            5|                  4|                  897|                   24.99|                  2|              49.98|
|            6|                  4|                  365|                   59.99|                  5|             299.95|
|            7|                  4|                  502|                    50.0|                  3|              150.0|
|            8|                  4|                 1014|                   49.98|                  4|             199.92|
|            9|                  5|                  957|                  299.98|                  1|             299.98|
|           10|                  5|                  365|                   59.99|                  5|             299.95|
|           11|                  5|                 1014|                   49.98|                  2|              99.96|
|           12|                  5|                  957|                  299.98|                  1|             299.98|
|           13|                  5|                  403|                  129.99|                  1|             129.99|
|           14|                  7|                 1073|                  199.99|                  1|             199.99|
|           15|                  7|                  957|                  299.98|                  1|             299.98|
|           16|                  7|                  926|                   15.99|                  5|              79.95|
|           17|                  8|                  365|                   59.99|                  3|             179.97|
|           18|                  8|                  365|                   59.99|                  5|             299.95|
|           19|                  8|                 1014|                   49.98|                  4|             199.92|
|           20|                  8|                  502|                    50.0|                  1|               50.0|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
only showing top 20 rows

In [44]:
order_item_df.columns

['order_item_id',
 'order_item_order_id',
 'order_item_product_id',
 'order_item_product_price',
 'order_item_quantity',
 'order_item_subtotal']

In [45]:
order_item_df.printSchema()

root
 |-- order_item_id: long (nullable = true)
 |-- order_item_order_id: long (nullable = true)
 |-- order_item_product_id: long (nullable = true)
 |-- order_item_product_price: double (nullable = true)
 |-- order_item_quantity: long (nullable = true)
 |-- order_item_subtotal: double (nullable = true)

In [46]:
order_item_df.createOrReplaceTempView("order_items")

In [50]:
spark.sql(""" SELECT * FROM order_items ot 
LEFT JOIN orders o ON
ot.order_item_order_id = o.order_id
where ot.order_item_id IS NULL""").show()

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+-----------------+----------+--------+------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|order_customer_id|order_date|order_id|order_status|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+-----------------+----------+--------+------------+
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+-----------------+----------+--------+------------+

# Grouping & Aggregations in Spark SQL

In [51]:
spark.sql("""SELECT order_status, COUNT(*) AS order_count
            FROM orders
            GROUP BY order_status""").show()

+---------------+-----------+
|   order_status|order_count|
+---------------+-----------+
|PENDING_PAYMENT|      15030|
|       COMPLETE|      22899|
|        ON_HOLD|       3798|
| PAYMENT_REVIEW|        729|
|     PROCESSING|       8275|
|         CLOSED|       7556|
|SUSPECTED_FRAUD|       1558|
|        PENDING|       7610|
|       CANCELED|       1428|
+---------------+-----------+

In [52]:
spark.sql("SELECT DISTINCT order_status from orders").show()

+---------------+
|   order_status|
+---------------+
|PENDING_PAYMENT|
|       COMPLETE|
|        ON_HOLD|
| PAYMENT_REVIEW|
|     PROCESSING|
|         CLOSED|
|SUSPECTED_FRAUD|
|        PENDING|
|       CANCELED|
+---------------+

In [56]:
spark.sql(""" SELECT c.customer_id, COUNT(order_id) as orders_count from customers c
JOIN orders o ON o.order_customer_id = c.customer_id  
GROUP BY c.customer_id
""").show()

+-----------+------------+
|customer_id|orders_count|
+-----------+------------+
|      11938|           6|
|       1950|           9|
|       2529|           6|
|       3506|           7|
|       7279|           5|
|       2250|           7|
|       9715|           6|
|       8075|           3|
|       9233|           9|
|       5409|           6|
|       4590|           7|
|       3764|           7|
|       9458|           7|
|       8440|           5|
|       1806|           8|
|       5556|           4|
|       8484|           6|
|      11945|           6|
|       7225|           5|
|       2214|           5|
+-----------+------------+
only showing top 20 rows

# Sorting in Spark SQL

In [59]:
spark.sql("SELECT * FROM orders ORDER BY order_status ").show()

+-----------------+--------------------+--------+------------+
|order_customer_id|          order_date|order_id|order_status|
+-----------------+--------------------+--------+------------+
|             1464|2014-03-22 00:00:...|   38914|    CANCELED|
|             5426|2013-07-28 00:00:...|     527|    CANCELED|
|              505|2014-03-27 00:00:...|   39749|    CANCELED|
|             1879|2013-08-01 00:00:...|    1435|    CANCELED|
|            11366|2014-03-22 00:00:...|   38915|    CANCELED|
|             1445|2013-07-28 00:00:...|     552|    CANCELED|
|             5485|2014-03-20 00:00:...|   38689|    CANCELED|
|             5375|2013-07-26 00:00:...|     112|    CANCELED|
|             3424|2014-03-22 00:00:...|   38950|    CANCELED|
|             2216|2013-07-28 00:00:...|     564|    CANCELED|
|            10473|2014-03-21 00:00:...|   38748|    CANCELED|
|             8117|2013-07-30 00:00:...|     955|    CANCELED|
|             8280|2014-03-22 00:00:...|   38954|    CANCELED|
|             1753|2013-08-01 00:00:...|    1383|    CANCELED|
|             6273|2014-03-21 00:00:...|   38843|    CANCELED|
|             9492|2013-07-30 00:00:...|     962|    CANCELED|
|            12099|2014-03-22 00:00:...|   38965|    CANCELED|
|             6376|2013-07-28 00:00:...|     607|    CANCELED|
|             4124|2014-03-23 00:00:...|   39157|    CANCELED|
|             1903|2013-07-30 00:00:...|    1013|    CANCELED|
+-----------------+--------------------+--------+------------+
only showing top 20 rows

In [60]:
spark.sql("SELECT * FROM orders ORDER BY order_status desc").show()

+-----------------+--------------------+--------+---------------+
|order_customer_id|          order_date|order_id|   order_status|
+-----------------+--------------------+--------+---------------+
|             8185|2014-03-22 00:00:...|   38948|SUSPECTED_FRAUD|
|             9616|2013-07-26 00:00:...|     246|SUSPECTED_FRAUD|
|             7768|2014-03-28 00:00:...|   39803|SUSPECTED_FRAUD|
|             3900|2013-07-30 00:00:...|    1074|SUSPECTED_FRAUD|
|             9414|2014-03-22 00:00:...|   39018|SUSPECTED_FRAUD|
|            10698|2013-07-26 00:00:...|     320|SUSPECTED_FRAUD|
|             8332|2014-03-21 00:00:...|   38727|SUSPECTED_FRAUD|
|               58|2013-07-26 00:00:...|     117|SUSPECTED_FRAUD|
|             9069|2014-03-22 00:00:...|   39023|SUSPECTED_FRAUD|
|             1944|2013-07-26 00:00:...|     329|SUSPECTED_FRAUD|
|             4148|2014-03-21 00:00:...|   38799|SUSPECTED_FRAUD|
|             8670|2013-07-30 00:00:...|     909|SUSPECTED_FRAUD|
|             7007|2014-03-22 00:00:...|   39036|SUSPECTED_FRAUD|
|             4683|2013-07-30 00:00:...|    1069|SUSPECTED_FRAUD|
|             9294|2014-03-22 00:00:...|   38884|SUSPECTED_FRAUD|
|             7231|2013-07-30 00:00:...|     932|SUSPECTED_FRAUD|
|            12396|2014-03-23 00:00:...|   39069|SUSPECTED_FRAUD|
|            11164|2013-07-27 00:00:...|     411|SUSPECTED_FRAUD|
|              488|2014-03-23 00:00:...|   39207|SUSPECTED_FRAUD|
|             5098|2013-07-30 00:00:...|     940|SUSPECTED_FRAUD|
+-----------------+--------------------+--------+---------------+
only showing top 20 rows

In [61]:
spark.sql("SELECT * FROM orders ORDER BY order_customer_id, order_status").show()

+-----------------+--------------------+--------+---------------+
|order_customer_id|          order_date|order_id|   order_status|
+-----------------+--------------------+--------+---------------+
|                1|2013-12-13 00:00:...|   22945|       COMPLETE|
|                2|2013-11-30 00:00:...|   67863|       COMPLETE|
|                2|2014-02-18 00:00:...|   33865|       COMPLETE|
|                2|2013-08-02 00:00:...|   57963|        ON_HOLD|
|                2|2013-10-29 00:00:...|   15192|PENDING_PAYMENT|
|                3|2014-07-24 00:00:...|   57617|       COMPLETE|
|                3|2014-02-26 00:00:...|   35158|       COMPLETE|
|                3|2013-12-14 00:00:...|   61453|       COMPLETE|
|                3|2013-12-11 00:00:...|   22646|       COMPLETE|
|                3|2013-12-19 00:00:...|   23662|       COMPLETE|
|                3|2014-07-15 00:00:...|   56178|        PENDING|
|                3|2014-05-09 00:00:...|   46399|     PROCESSING|
|                4|2014-06-10 00:00:...|   51157|         CLOSED|
|                4|2013-09-19 00:00:...|    9023|       COMPLETE|
|                4|2014-05-28 00:00:...|   49339|       COMPLETE|
|                4|2013-09-24 00:00:...|    9704|       COMPLETE|
|                4|2014-03-15 00:00:...|   37878|       COMPLETE|
|                4|2013-11-09 00:00:...|   17253|PENDING_PAYMENT|
|                5|2014-04-05 00:00:...|   41333|       COMPLETE|
|                5|2013-10-18 00:00:...|   13705|       COMPLETE|
+-----------------+--------------------+--------+---------------+
only showing top 20 rows

In [62]:
spark.sql("SELECT * FROM orders ORDER BY order_customer_id, order_status desc").show()

+-----------------+--------------------+--------+---------------+
|order_customer_id|          order_date|order_id|   order_status|
+-----------------+--------------------+--------+---------------+
|                1|2013-12-13 00:00:...|   22945|       COMPLETE|
|                2|2013-10-29 00:00:...|   15192|PENDING_PAYMENT|
|                2|2013-08-02 00:00:...|   57963|        ON_HOLD|
|                2|2014-02-18 00:00:...|   33865|       COMPLETE|
|                2|2013-11-30 00:00:...|   67863|       COMPLETE|
|                3|2014-05-09 00:00:...|   46399|     PROCESSING|
|                3|2014-07-15 00:00:...|   56178|        PENDING|
|                3|2014-02-26 00:00:...|   35158|       COMPLETE|
|                3|2014-07-24 00:00:...|   57617|       COMPLETE|
|                3|2013-12-11 00:00:...|   22646|       COMPLETE|
|                3|2013-12-14 00:00:...|   61453|       COMPLETE|
|                3|2013-12-19 00:00:...|   23662|       COMPLETE|
|                4|2013-11-09 00:00:...|   17253|PENDING_PAYMENT|
|                4|2014-05-28 00:00:...|   49339|       COMPLETE|
|                4|2013-09-19 00:00:...|    9023|       COMPLETE|
|                4|2013-09-24 00:00:...|    9704|       COMPLETE|
|                4|2014-03-15 00:00:...|   37878|       COMPLETE|
|                4|2014-06-10 00:00:...|   51157|         CLOSED|
|                5|2014-03-06 00:00:...|   36472|     PROCESSING|
|                5|2014-05-05 00:00:...|   45832|PENDING_PAYMENT|
+-----------------+--------------------+--------+---------------+
only showing top 20 rows

In [63]:
spark.sql("SELECT * FROM orders ORDER BY order_customer_id desc, order_status desc").show()

+-----------------+--------------------+--------+---------------+
|order_customer_id|          order_date|order_id|   order_status|
+-----------------+--------------------+--------+---------------+
|            12435|2014-04-08 00:00:...|   41643|        PENDING|
|            12435|2013-12-21 00:00:...|   61629|       CANCELED|
|            12434|2013-08-23 00:00:...|    4799|PENDING_PAYMENT|
|            12434|2013-08-26 00:00:...|    5303|        PENDING|
|            12434|2013-10-16 00:00:...|   13544|        PENDING|
|            12434|2014-06-14 00:00:...|   51800|        ON_HOLD|
|            12434|2013-09-02 00:00:...|    6160|       COMPLETE|
|            12434|2014-04-16 00:00:...|   42915|       COMPLETE|
|            12434|2013-12-26 00:00:...|   61777|       COMPLETE|
|            12434|2013-08-03 00:00:...|    1868|         CLOSED|
|            12433|2014-04-15 00:00:...|   42724|        PENDING|
|            12433|2013-09-07 00:00:...|   58917| PAYMENT_REVIEW|
|            12433|2014-05-01 00:00:...|   65117|        ON_HOLD|
|            12433|2013-11-02 00:00:...|   15703|       COMPLETE|
|            12432|2013-11-13 00:00:...|   17889|PENDING_PAYMENT|
|            12432|2014-01-25 00:00:...|   29787|PENDING_PAYMENT|
|            12432|2013-11-13 00:00:...|   17973|        PENDING|
|            12432|2013-08-27 00:00:...|   58652|        ON_HOLD|
|            12432|2014-03-15 00:00:...|   37846|       COMPLETE|
|            12432|2014-04-24 00:00:...|   44064|       COMPLETE|
+-----------------+--------------------+--------+---------------+
only showing top 20 rows

In [64]:
spark.sql("SELECT * FROM order_items ORDER BY order_item_order_id, order_item_subtotal desc").show()

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|            1|                  1|                  957|                  299.98|                  1|             299.98|
|            3|                  2|                  502|                    50.0|                  5|              250.0|
|            2|                  2|                 1073|                  199.99|                  1|             199.99|
|            4|                  2|                  403|                  129.99|                  1|             129.99|
|            6|                  4|                  365|                   59.99|                  5|             299.95|
|            8|                  4|                 1014|                   49.98|                  4|             199.92|
|            7|                  4|                  502|                    50.0|                  3|              150.0|
|            5|                  4|                  897|                   24.99|                  2|              49.98|
|            9|                  5|                  957|                  299.98|                  1|             299.98|
|           12|                  5|                  957|                  299.98|                  1|             299.98|
|           10|                  5|                  365|                   59.99|                  5|             299.95|
|           13|                  5|                  403|                  129.99|                  1|             129.99|
|           11|                  5|                 1014|                   49.98|                  2|              99.96|
|           15|                  7|                  957|                  299.98|                  1|             299.98|
|           14|                  7|                 1073|                  199.99|                  1|             199.99|
|           16|                  7|                  926|                   15.99|                  5|              79.95|
|           18|                  8|                  365|                   59.99|                  5|             299.95|
|           19|                  8|                 1014|                   49.98|                  4|             199.92|
|           17|                  8|                  365|                   59.99|                  3|             179.97|
|           20|                  8|                  502|                    50.0|                  1|               50.0|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
only showing top 20 rows